
  <div>
    <ion-button *ngIf="!account" (click)="openSigninDialog()" translate="My Account">
      My Account
    </ion-button>
    <ion-button *ngIf="account" mat-button [matMenuTriggerFor]="menu">Hi, {{account.username}}</ion-button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item translate="My Orders" (click)="myOrders()">My Orders</button>
      <button mat-menu-item translate="Account Setting" (click)="myAccount()">Account Setting</button>
      <button mat-menu-item translate="Logout" (click)="logout()">Logout</button>
    </mat-menu>
  </div>
