$primary-color: #3f51b5;
.home-icon{
  display: none;
}
ion-header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
@media(max-width: 767px) {
  ion-searchbar{
    display: none;
  }
  .ion-text-center{
    display: block;
    padding-top: 10px;
  }
}
// ipad and desktop
@media(min-width: 768px) {
  ion-searchbar{
    display: block;
  }
  .ion-text-center{
    display: none;
  }

    .header-md::after {
      background-image: none;
    }
    .item:hover{
      color: $primary-color;
    }
    .sc-ion-searchbar-md-h {
        box-shadow: none;
        --box-shadow: none;
        border: 1px solid #bbb !important;
        --background: white !important;
    }
    .searchbar-input-container.sc-ion-searchbar-md{
        border: 1px solid #bbb !important;
        // border-image: none;
    }
    .home-icon{
      display: block;
    }
    .toolbar-background, .toolbar-container{
      background-color: #fff;
    }
}