<ion-header>
  <div class="container">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center" *ngIf="!loading" localValue [data]="page" key="title"></ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="container">
    <ng-container *ngIf="!loading; Else skeleton">
      <div class="ion-padding" [innerHTML]="getContent()"></div>
    </ng-container>
  </div>
</ion-content>

<ng-template #skeleton>
  <div class="ion-padding">
    <ion-skeleton-text class="ion-margin-bottom" animated style="height: 1.5rem;"></ion-skeleton-text>
    <ion-skeleton-text animated style="height: 1rem; width: 80%"></ion-skeleton-text>
    <ion-skeleton-text animated style="height: 1rem; width: 60%"></ion-skeleton-text>
    <ion-skeleton-text animated style="height: 1rem; width: 60%"></ion-skeleton-text>
  </div>
</ng-template>
