<ion-row class="ion-padding" *ngIf="!loading; Else skeleton">
  <ion-col size="6" *ngFor="let merchant of merchants">
    <ion-card 
      class="card-merchant ion-no-margin"
      [routerLink]="['/tabs/browse/merchants', merchant._id]"
    >
      <ion-card-content class="card-content-merchant ion-margin-bottom">
        <div class="wrapper-merchant-img">
          <app-ion-image
          [src]="getPictureUrl(merchant)"
          [alt]="merchant.name"
          style="height: 180px; object-fit: cover;"
        ></app-ion-image>
        </div>
        <ion-label class="label-merchant-name">
          <h3 localValue [data]="merchant" key="name"></h3>
        </ion-label>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
<ng-template #skeleton>
  <ion-row class="ion-padding" *ngFor="let idx of [1,2,3]">
    <ion-col size="6">
      <ion-card class="ion-no-margin">
        <ion-card-content>
          <div class="card-content-merchant ion-margin-bottom">
            <app-ion-image
              src="assets/img/no-image.png"
              alt="awesome product"
            ></app-ion-image>
          </div>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width:80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="ion-no-margin">
        <ion-card-content>
          <div class="card-content-merchant ion-margin-bottom">
            <app-ion-image
              src="assets/img/no-image.png"
              alt="awesome product"
            ></app-ion-image>
          </div>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width:80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ng-template>