<ul class="category-list">
  <li class="category-item" translate="All" (click)="showAll()" [ngClass]="{selected : selectedId === ''}">All
  </li>
  <li *ngFor="let c of categories" class="category-item" (click)="handleSelectCategory(c)"
    [ngClass]="{selected : selectedId === c._id}">
    {{lang === 'en' ? c.nameEN : c.name}}
  </li>
</ul>
<div class="category-area">
  <ion-row class="ion-padding-start ion-padding-end ion-margin-bottom row-category">
    <ion-col size-xs="3" size-lg="2.4" class="ion-no-margin ion-no-padding">
      <ion-button [disabled]="loading" [color]="selectedId === '' ? 'success' : 'light' " size="small" expand="full"
        translate="All" (click)="showAll()">
      </ion-button>
    </ion-col>
    <ion-col *ngFor="let category of categories.slice(0,categoryDisplayLimit)" size-xs="3" size-lg="2.4"
      class="ion-no-margin ion-no-padding">
      <ion-button [disabled]="loading" [color]="selectedId === category._id ? 'success' : 'light'" size="small"
        expand="full" localValue [data]="category" key="{{lang === 'en' ? 'nameEN' : 'name'}}"
        (click)="handleSelectCategory(category)">
      </ion-button>
    </ion-col>
    <ion-col *ngIf="categories.length >= (categoryDisplayLimit + 1)" size-xs="3" size-lg="2.4"
      class="ion-no-margin ion-no-padding">
      <ion-button color="tertiary" size="small" expand="full" style="text-align: center; font-weight: 600;" localValue
        routerLink="/tabs/browse/all-categories">
        ...
      </ion-button>
    </ion-col>
  </ion-row>
</div>