<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/my-account" text=""></ion-back-button>
    </ion-buttons>
    <ion-title translate="Change Phone"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="account">
    <ion-row class="ion-padding-start ion-padding-end ion-padding-top">
      <ion-col class="ion-no-padding" size="12">
        <ion-label class="ion-margin-end" translate="Please select delivery address"></ion-label>
        <ion-label 
          color="primary"
          routerLink="delivery-range"
          class="ion-text-small"
          translate="See delivery range"
        ></ion-label>
      </ion-col>
    </ion-row>
    <location-search (onSelect)="handleLocationSelect($event)"></location-search>
    <ion-item *ngIf="location">
      <ion-label translate="Address Detail"></ion-label>
      <ion-input [(ngModel)]="location.unit"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-checkbox class="ion-margin-end" color="tertiary" [(ngModel)]="saveLocation"></ion-checkbox>
      <ion-label translate="Set as default"></ion-label>
    </ion-item>
    <ion-list class="ion-margin-top">
      <ion-item *ngIf="account.phone">
        <ion-label translate="Old Phone Number"></ion-label>
        <ion-label>{{account.phone}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating" translate="New Phone Number"></ion-label>
        <ion-input [(ngModel)]="model.phone"></ion-input>
      </ion-item>
      <ion-item *ngIf="(model.phone && account.phone != model.phone) || !account.phone">
        <ion-row class="ion-align-items-end ion-padding-start ion-padding-end">
          <ion-col size="7">
            <ion-label position="floating" translate="Verification Code"></ion-label>
            <ion-input [(ngModel)]="model.verificationCode"></ion-input>
          </ion-col>
          <ion-col size="5">
            <ion-button
              color="success"
              translate="Send Verification Code"
              size="small"
              expand="full"
              [disabled]="processing"
              (click)="handleSendVerificationCode()"
            ></ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label position="floating" translate="Another phone number"></ion-label>
        <ion-input [(ngModel)]="model.secondPhone"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row class="ion-padding">
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col size="12" align="center">
        <ion-button 
          [disabled]="!model.phone || processing"
          color="primary"
          translate="Save"
          expand="full"
          (click)="handleSave()"
        ></ion-button>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-content>
