.ion-text-small {
  font-size: 80%;
}
.icon-what-is-this {
  z-index: 3;
}
.item-address-set-default {
  ion-label {
    flex: 0 1 auto;
  }
}
.col-code{
  padding-left: 0px;
}
.container{
  padding-right: 10px;
}