<ion-row class="row-search">
  <ion-col size="12" class="col-searchbar">
    <ion-searchbar 
      debounce="500" 
      animated 
      placeholder="{{'Input delivery address'|translate}}" 
      (ionChange)="handleSearch($event)"
      (ionCancel)="listVisible = false"
      (ionClear)="listVisible=false; placeList=[]"
      (click)="handleFocus()"
      [value]="search"
    >
    </ion-searchbar>
  </ion-col>
  <ion-col size="12" class="col-list-suggestion" *ngIf="listVisible">
    <ion-list class="list-suggestion" *ngIf="search && search.length >=3; Else history">
      <ion-item *ngFor="let place of placeList" class="item-suggestion" (click)="handlePlaceClick(place, formatAddress(place))">
        <ion-label>{{formatAddress(place)}}</ion-label>
        <ion-icon name="create-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-col>
</ion-row>

<ng-template #history>
  <ion-list class="list-suggestion" *ngIf="locationHistory.length">
    <ion-item *ngFor="let location of locationHistory" (click)="handleLocationClick(location)">
      <ion-label>{{formatLocation(location)}}</ion-label>
      <ion-icon name="create-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ng-template>