.col-list-suggestion {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  margin-top: -1rem;
}
.list-suggestion {
  background: #eee;
  ion-item {
    font-size: 0.75rem;
  }
}

ion-searchbar{
  padding-top: 0px;
  padding-bottom: 0px;
}

@media(max-width: 767px) {
  ion-searchbar{
    height: 42px;
  }
}
@media(min-width: 768px) {
  ion-searchbar{
    height: 42px;
  }
}