<header [menu]="true" [title]="title" [search]="bSearchOnTitle" [searchKeyword]="search" (onSearch)="handleSearch($event)">

</header>
<ion-content>
  <div class="container">
    <ion-searchbar *ngIf="!bSearchOnTitle"
    placeholder="{{'Search'|translate}}"
    debounce="1000"
    (ionChange)="handleSearch($event)"
    [value]="search"
    ></ion-searchbar>
    <product-list
      [loading]="loading"
      [products]="products"
      (onProductClick)="onProductClick($event)"
    ></product-list>
  </div>
</ion-content>
