<header [menu]="false" [title]="title" [back]="backBtn" [search]="bSearchOnTitle" [searchKeyword]="search" (onSearch)="handleSearch($event)">
</header>
<div class="container category-wrap">
  <ion-searchbar *ngIf="!bSearchOnTitle"
  placeholder="{{'Search'|translate}}"
  debounce="1000"
  (ionChange)="handleSearch($event)"
  [value]="search"
  ></ion-searchbar>
</div>

<ion-content>
  <div class="container">
    <product-list
      [loading]="loading"
      [products]="products"
      (onProductClick)="onProductClick($event)"
    ></product-list>
  </div>
</ion-content>
