<ion-header>
  <div class="container">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/browse" text=""></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center" translate="Search"></ion-title>
      <ion-buttons slot="end">
        <cart-button></cart-button>
        <language-button></language-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="container">
    <ion-searchbar 
    placeholder="{{'Search'|translate}}"
    debounce="1000"
    (ionChange)="handleSearch($event)"
    [value]="search"
    ></ion-searchbar>
    <product-list
      [loading]="loading"
      [products]="products"
      (onProductClick)="onProductClick($event)"
    ></product-list>
  </div>
</ion-content>
