<!-- <ion-button *ngIf="account" [routerLink]="['/tabs/my-account']" [queryParams]="{action: 'change-lang'}">
  <ion-label>
    <ng-container *ngIf="lang === 'zh'">En</ng-container>
    <ng-container *ngIf="lang === 'en'">中文</ng-container>
  </ion-label>
</ion-button>
<ion-button *ngIf="!account" (click)="switchLanguage()">
  <ion-label>
    <ng-container *ngIf="lang === 'zh'">En</ng-container>
    <ng-container *ngIf="lang === 'en'">中文</ng-container>
  </ion-label>
</ion-button> -->

<ion-button mat-button [matMenuTriggerFor]="menu" >{{lang === 'zh'? 'EN' : '中' }}</ion-button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="setLanguage('end')">English</button>
  <button mat-menu-item (click)="setLanguage('zh')">中文</button>
</mat-menu>