.row-touchspin {
  ion-label {
    margin-right: 1rem;
  }
  .wrapper-touchspin {
    width: 96px;
  }
}
.row-price {
  ion-label > span:first-child {
    margin-right: 1rem;
  }
  ion-label > span:last-child {
    font-size: 1.25rem;
  }
}
.item-delivery {
  ion-label {
    min-width: 35%;
  }
  ion-select {
    min-width: 65%;
  }
}
@media(max-width: 280px) {
  .row-schedule {
    justify-content: center;
    ion-col {
      width: 100%!important;
      max-width: 100%!important;
    }
  }
}
@media(min-width: 768px)  {
  ion-content {
    .container {
      padding-top: 2rem;
    }
  }
}