<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/browse"></ion-back-button>
    </ion-buttons>
    <ion-title>product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!loading; Else skeleton">
    <!-- BEGIN PRODUCT IMAGE SLIDER -->
    <div class="image-slide-container">
      <ion-slides *ngIf="product.pictures && product.pictures.length; Else slidePlaceholder">
        <ion-slide *ngFor="let image of product.pictures; index as idx">
          <app-ion-image [src]="getPictureUrl(product, idx)" [alt]="product.name"></app-ion-image>
        </ion-slide>
      </ion-slides>
    </div>
    <!--  END PRODUCT IMAGE SLIDER  -->

    <!-- BEGIN TITLE AND DESCRIPTION -->
    <div class="product-detail ion-padding">
      <h3 localValue [data]="product" [key]="'name'"></h3>
      <p localValue [data]="product" [key]="'description'"></p>
    </div>
    <!--  END TITLE AND DESCRIPTION  -->

    <ion-row class="row-purchase">
      <!-- BEGIN QUANTITY TOUCHSPIN -->
      <ion-col size="12">
        <ion-row class="row-touchspin ion-padding">
          <ion-label translate="Quantity"></ion-label>
          <div class="wrapper-touchspin">
            <ion-touchspin size="md" [initialValue]="1" (valueChange)="handleQuantityChange($event)">
            </ion-touchspin>
          </div>
        </ion-row>
        <ion-row class="row-price ion-padding">
          <ion-label>
            <span translate="Price"></span>
            <span>{{item|price}}</span>
          </ion-label>
        </ion-row>
      </ion-col>
      <!--  END  QUANTITY TOUCHSPIN -->
      <!-- BEGIN PURCHASE BUTTONS -->
      <ion-col size="12">
        <ion-row class="ion-padding">
          <ion-col>
            <ion-button size="medium" expand="full" (click)="addToCart()">
              <ion-icon slot="start" name="cart-outline"></ion-icon>
              {{"Add to Cart"|translate}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <!--  END PURCHASE BUTTONS -->
    </ion-row>

  </ng-container>
</ion-content>

<ng-template #skeleton>
  <div class="wrapper-image-slide">
    <ion-slides>
      <ion-slide>
        <ion-img src="assets/img/no-image.png"></ion-img>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="product-detail ion-padding">
    <div><ion-skeleton-text animated style="height: 1.5rem;" class="ion-margin-bottom"></ion-skeleton-text></div>
    <div><ion-skeleton-text animated style="width: 80%; height: 1.2rem;"></ion-skeleton-text></div>
    <div><ion-skeleton-text animated style="width: 50%; height: 1.2rem;"></ion-skeleton-text></div>
    <div><ion-skeleton-text animated style="width: 50%; height: 1.2rem;"></ion-skeleton-text></div>
  </div>
</ng-template>