<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/browse" text=""></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!loading" localValue [data]="product" key="name"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!loading; Else skeleton">
    <!-- BEGIN PRODUCT IMAGE SLIDER -->
    <div class="image-slide-container">
      <ion-slides *ngIf="product.pictures && product.pictures.length; Else slidePlaceholder">
        <ion-slide *ngFor="let image of product.pictures; index as idx">
          <app-ion-image style="width: 100%; object-fit: cover;" [src]="getPictureUrl(product, idx)" [alt]="product.name"></app-ion-image>
        </ion-slide>
      </ion-slides>
    </div>
    <!--  END PRODUCT IMAGE SLIDER  -->

    <!-- BEGIN TITLE AND DESCRIPTION -->
    <div class="product-detail ion-padding">
      <h3 localValue [data]="product" key="name"></h3>
      <p localValue [data]="product" key="description"></p>
    </div>
    <!--  END TITLE AND DESCRIPTION  -->

    <ion-row class="row-purchase">
      <!-- BEGIN PRICE LABEL -->
      <ion-col size="6">
        <ion-row class="row-price ion-padding">
          <ion-label>
            <span translate="Price"></span>
            <span>{{item|price}}</span>
          </ion-label>
        </ion-row>
      </ion-col>
      <!--  END PRICE LABEL  -->
      <!-- BEGIN QUANTITY TOUCHSPIN -->
      <ion-col size="6">
        <ion-row class="row-touchspin ion-padding">
          <ion-label translate="Quantity"></ion-label>
          <div class="wrapper-touchspin">
            <ion-touchspin size="md" [initialValue]="1" (valueChange)="handleQuantityChange($event)">
            </ion-touchspin>
          </div>
        </ion-row>
      </ion-col>
      <!--  END QUANTITY TOUCHSPIN  -->
      <!-- BEGIN SCHEDULE SELECT -->
      <ion-item *ngIf="isInRange && schedules" class="item-delivery w-100">
        <ion-label translate="Delivery Time"></ion-label>
        <ion-select [value]="deliveryIdx" (ionChange)="handleSelectDeliveryDateTime($event)">
          <ion-select-option *ngFor="let schedule of schedules; index as key" [value]="key">
            {{schedule.date | moment:"YYYY-MM-DD ddd"}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <!--  END SCHEDULE SELECT  -->
      <!-- BEGIN PURCHASE BUTTONS -->
      <ion-col size="12" *ngIf="isInRange && schedules && schedules.length">
        <ion-row class="ion-padding">
          <ion-col>
            <ion-button size="medium" expand="full" (click)="addToCart()">
              <ion-icon slot="start" name="cart-outline"></ion-icon>
              {{"Add to Cart"|translate}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <!--  END PURCHASE BUTTONS -->
      <ion-col size="12" *ngIf="!location">
        <ion-row class="ion-padding">
          <ion-col align="center">
            <ion-label 
              translate="Please select delivery address"
              routerLink="['/tabs/browse']"
              class="ion-text-danger"
            >
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ng-container>
</ion-content>

<ng-template #slidePlaceholder>
  <ion-slides>
    <ion-slide>
      <ion-img src="assets/img/no-image.png" [alt]="product.name">
      </ion-img>
    </ion-slide>
  </ion-slides>
</ng-template>

<ng-template #skeleton>
  <div class="wrapper-image-slide">
    <ion-slides>
      <ion-slide>
        <ion-img src="assets/img/no-image.png"></ion-img>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="product-detail ion-padding">
    <div><ion-skeleton-text animated style="height: 1.5rem;" class="ion-margin-bottom"></ion-skeleton-text></div>
    <div><ion-skeleton-text animated style="width: 80%; height: 1.2rem;"></ion-skeleton-text></div>
    <div><ion-skeleton-text animated style="width: 50%; height: 1.2rem;"></ion-skeleton-text></div>
    <div><ion-skeleton-text animated style="width: 50%; height: 1.2rem;"></ion-skeleton-text></div>
  </div>
</ng-template>