<ion-header>
  <div class="container">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/browse" text=""></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center" translate="Sign In"></ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="container container-sm">
    <form class="ion-padding-horizontal ion-margin-top">
      <ion-list lines="full" class="list-input">
        <ion-item>
          <ion-grid class="ion-no-padding ion-no-margin w-100">
            <ion-row class="row-phone">
              <ion-col size="12">
                <ion-label position="stacked" translate="Phone Number"></ion-label>
                <ion-input required type="text" name="phone" autocomplete="off" autofocus=true inputmode="tel"
                  minlength="6" maxlength="20" placeholder="{{'Input phone number'|translate}}"
                  [(ngModel)]="phone">
                </ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item class="ion-margin-top ">
          <ion-grid class="ion-no-padding ion-no-margin w-100">
            <ion-row class="row-otp">
              <ion-col size="7">
                <ion-label position="stacked" translate="OTP Code"></ion-label>
                <ion-input required type="text" name="otp" [(ngModel)]="otp" placeholder="{{'Input verification code'|translate}}"></ion-input>
              </ion-col>
              <ion-col size="5" class="ion-padding-horizontal">
                <ion-button class="ion-margin-top w-100" expand="full" type="button" color="tertiary"
                  (click)="handleSendVerificationCode()"
                  [disabled]="!isValidPhoneNumber() || processing || failedCount > 3">
                  {{ isOtpSent ? "Resend OTP Code" : "Send OTP Code" | translate }}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item lines="none">
          <ion-label size="small" translate="By logging in, you agree to the terms of service and privacy statement"></ion-label>
        </ion-item>

        <div class="ion-padding">
          <ion-row>
            <ion-col>
              <ion-button class="" [disabled]="!isValidPhoneNumber() || !otp || processing" expand="full" type="submit" translate="Sign In"
                (click)="handleSignIn()">
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
        <div class="ion-padding">
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <b class="stroke before"></b>
              <ion-label class="divide-text" translate="Or sign in with"></ion-label>
              <b class="stroke after"></b>
            </ion-col>
            <ion-col size="12">
              <ion-button class="button-google" expand="full" id="googleLoginButton">
                <ion-icon name="logo-google" class="ion-margin-end"></ion-icon>
                <ion-label translate="Sign in with Google"></ion-label>
              </ion-button>
            </ion-col>
            <ion-col size="12">
              <ion-button class="button-facebook" expand="full">
                <ion-icon name="logo-facebook" class="ion-margin-end"></ion-icon>
                <ion-label translate="Sign in with Facebook"></ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-list>
    </form>

    <div class="ion-padding">
      <ion-row class="divide-row">
        <ion-col size="12" class="ion-text-center">
          <b class="stroke before"></b>
          <ion-label class="divide-text" translate="Join duocun"></ion-label>
          <b class="stroke after"></b>
        </ion-col>
        <ion-col size="12">
          <ion-button [routerLink]="['/tabs/register']" color="success" expand="full" translate="Create Account">
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

  </div>
</ion-content>