ion-checkbox[size=small] {
  --size: 0.8rem;
}
ion-label[size=small] {
  font-size: 0.8rem;
}
.container-sm {
  max-width: 540px;
  padding-left: 15px;
  padding-right: 15px;
}

.container-sm > form {
  padding: 0.5rem 1rem;
  border: 1px solid #cccc;
}

ion-button.button-google {
  --background: #DB4437;
  text-transform: none;
}
ion-button.button-facebook {
  --background: #3B5998;
  text-transform: none;
}
b.stroke {
  display: block;
  position: absolute;
  content: ' ';
  width: calc((100% - 132px)/2);
  border-bottom: 1px solid #999999;
  top: 15px;
  &.before {
    left: 7px;
  }
  &.after {
    right: 7px;
  }
}
.row-title{
  height: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  ion-title{
    padding: 0px 20px;
    text-align: left;
    font-size: 26px;
  }
}
.row-phone{
  padding-top: 10px;
}
.row-agreement{
  --border-width: 0;
  --inner-border-width: 0;
}
ion-list.list-input{
  padding-left: 8px;
  padding-right: 8px;
}
ion-input{
  margin-top: 12px;
  input{
    font-size: 16px;
    padding-bottom: 0px;
    --padding-bottom: 0px;
  }
}

.row-agreement {
  label {
    z-index: 2;
    font-size: 80%;
  }
}