<ion-header>
  <div class="container">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/browse" text=""></ion-back-button>
      </ion-buttons>
      <ion-title localValue [data]="category" key="name" fallback="Category"></ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="container">
    <product-list
      [loading]="loading"
      [products]="products"
      (onProductClick)="onProductClick($event)"
    ></product-list>
  </div>
</ion-content>
