.list-order-history {
  .item-order-history {
    font-size: 0.75rem;
    ion-row {
      ion-col {
        padding: 0;
        ion-label {
          span {
            display: inline-block;
          }
          span:first-of-type {
            width: 40%;
          }
          span:last-of-type {
            width: 60%;
          }
        }
      }
    }
  }
}
.border {
  border: 1px solid #eeeeee;
}
.border-bottom {
  padding-bottom: 5px!important;
  border-bottom: 1px solid #eeeeee;
}
.border-top {
  padding-top: 5px!important;
  border-top: 1px solid #eeeeee;
}