
.container-sm {
  max-width: 480px;
}
.card-link {
  --background: #fcfcfc;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  ion-icon {
    height: 20px;
    width: 20px;
    margin-top: 5px;
    margin-right: 6px;
  }
  h3 {
    font-size: 1rem;
  }
}
[align=center] {
  text-align: center;
}
.card-link{
  width: 100%;
}
// @media(min-width: 768px) {
//   .card-link {
//     margin-top: 1.5rem;
//     margin-bottom: 1.5rem;
//   }
// }