<ion-header>
  <ion-toolbar>
    <ion-title translate="My Account"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="account; Else emptyAccount">
  <ion-row class="ion-padding ion-justify-content-center">
    <app-ion-image
        [src]="account.imageurl? account.imageurl : ''"
        [alt]="account.username"
        style="width: 120px; height: 120px; border-radius: 100%; overflow:hidden;"
    >
    </app-ion-image>
    <ion-col size="12" class="ion-margin-top" align="center">
      <ion-label>{{account.username}}</ion-label>
    </ion-col>
    
  </ion-row>
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="cash-outline"></ion-icon>
      <ion-label translate="Balance"></ion-label>
      <ion-label class="ion-text-right">{{account.balance|price}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="language-outline"></ion-icon>
      <ion-label translate="Language"></ion-label>
      <ion-select [value]="lang" (ionChange)="handleLangChange($event)" #selectLang>
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="zh">中文</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  
  <ion-card class="card-link" routerLink="order-history">
    <ion-card-header align="center">
      <ion-icon color="primary" name="reader-outline"></ion-icon>
    </ion-card-header>
    <ion-card-content align="center">
      <h3 class="ion-text-primary" translate="Order History"></h3>
    </ion-card-content>
  </ion-card>
  <ion-card class="card-link" routerLink="setting">
    <ion-card-header align="center">
      <ion-icon color="success" name="person-circle-outline"></ion-icon>
    </ion-card-header>
    <ion-card-content align="center">
      <h3 class="ion-text-success" translate="Account Setting"></h3>
    </ion-card-content>
  </ion-card>
  <ion-card class="card-link" routerLink="transaction-history">
    <ion-card-header align="center">
      <ion-icon color="tertiary" name="qr-code-outline"></ion-icon>
    </ion-card-header>
    <ion-card-content align="center">
      <h3 class="ion-text-tertiary" translate="Transaction History"></h3>
    </ion-card-content>
  </ion-card>
</ion-content>

<ng-template #emptyAccount>

</ng-template>