<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="browse">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label translate="Home"></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label translate="Cart"></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-account">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label translate="My Account"></ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
