<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="browse">
        <ion-icon name="home-outline"></ion-icon>

        <ion-label translate="Home"></ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="cart">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label translate="Cart"></ion-label>
        <ion-badge *ngIf="cart && cart.items && cart.items.length">
          {{cart.quantity}}
        </ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="order-history">
        <ion-icon name="reader-outline"></ion-icon>
        <ion-label translate="Order History"></ion-label>
      </ion-tab-button>

      <ion-tab-button tab="my-account">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label translate="My Account"></ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
