.order-notice {
  list-style: none;
  font-size: 0.75rem;
  padding-left: 0;
  color: #eb445a;
  li:before {
    content: "*";
    margin-right: .5rem;
  }
}
.row-charge-item {
  font-size: 0.75rem;
  ion-row {
    margin: 0;
    padding: 0;
  }
}
.col-charge-summary {
  font-size: 0.75rem;
  .border {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
}
