<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/cart" text=""></ion-back-button>
    </ion-buttons>
    <ion-title translate="Confirm Order"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-padding">
    <ion-col align="center">
      <h5 translate="order_page_title"></h5>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding row-charge">
    <!-- BEGIN CHARGE ITEMS -->
    <ion-col size="7">
      <ion-row *ngFor="let item of chargeItems" class="row-charge-item">
        <ion-col size="7">
          <div><label localValue [data]="item" key="name"></label></div>
          <div><label>{{item.date|moment: "YYYY-MM-DD ddd"}}</label></div>
        </ion-col>
        <ion-col size="2">
          <span>&times; {{item.quantity}}</span>
        </ion-col>
        <ion-col size="3">
          {{(item.price * item.quantity) | price}}
        </ion-col>
      </ion-row>
    </ion-col>
    <!--  END CHARGE ITEMS  -->
    <!-- BEGIN CHARGE SUMMARY -->
    <ion-col size="5" class="col-charge-summary" *ngIf="summary">
      <ion-row>
        <ion-col size="7" translate="Subtotal"></ion-col>
        <ion-col size="5">{{summary.price|price}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="7" translate="Delivery Fee"></ion-col>
        <ion-col size="5">{{summary.deliveryCost|price}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="7" translate="Tax"></ion-col>
        <ion-col size="5">{{summary.tax|price}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="7" translate="Tips"></ion-col>
        <ion-col size="5">{{summary.tips|price}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="7" translate="Delivery Fee Discount"></ion-col>
        <ion-col size="5">{{-summary.deliveryDiscount|price}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="7" translate="Out-of-Range Charge"></ion-col>
        <ion-col size="5">{{summary.overRangeCharge|price}}</ion-col>
      </ion-row>
      <ion-row class="border">
        <ion-col size="7" translate="Total"></ion-col>
        <ion-col size="5">{{summary.total|price}}</ion-col>
      </ion-row>
    </ion-col>
    <!--  END CHARGE SUMMARY  -->
  </ion-row>
  <!-- BEGIN NOTCIE -->
  <ion-row class="ion-padding">
    <ul class="order-notice">
      <li translate="order_page_notice_1"></li>
      <li translate="order_page_notice_2"></li>
    </ul>
  </ion-row>
  <!--  END NOTCIE  -->
  <!-- BEGIN ORDER FORM -->
  <ng-container *ngIf="account">
    <ion-item>
      <ion-label position="floating" translate="Deliver To"></ion-label>
      <ion-input [(ngModel)]="account.username" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" translate="Phone Number"></ion-label>
      <ion-input [(ngModel)]="account.phone" readonly></ion-input>
    </ion-item>
    <ion-item class="ion-padding" class="item-address">
      <ion-label position="floating" translate="Address"></ion-label>
      <ion-input [(ngModel)]="address"></ion-input>
    </ion-item>
    <ion-item class="ion-padding" class="item-notes">
      <ion-label position="floating" translate="Notes"></ion-label>
      <ion-textarea [(ngModel)]="notes"></ion-textarea>
    </ion-item>
  </ng-container>
  <!--  END ORDER FORM  -->
  <!-- BEGIN PAYMENT FORM -->
  <ng-container *ngIf="summary">
    <ion-row class="ion-padding">
      <ion-col size="6" align="center">
        <ion-button color="success" size="small" expand="full" translate="Wechat Pay"></ion-button>
      </ion-col>
      <ion-col size="6" align="center">
        <ion-button color="primary" size="small" expand="full">Stripe</ion-button>
      </ion-col>
    </ion-row>
  </ng-container>
  <!-- BEGIN PAYMENT FORM -->
</ion-content>
