h5 {
  font-weight: 600;
}
.row-order-notice {
  padding: 1.5rem;
}
.row-order-info {
  padding: 1.25rem;
}
.order-notice {
  list-style: none;
  font-size: 0.75rem;
  color: var(--ion-color-danger-shade);
  padding: 0.5rem;
  background-color: var(--ion-color-warning-tint);
  font-weight: 600;
  li:before {
    content: "*";
    margin-right: .5rem;
  }
}
.row-charge-item {
  font-size: 0.75rem;
  ion-row {
    margin: 0;
    padding: 0;
  }
}
.col-charge-summary {
  font-size: 0.75rem;
  .border {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
}
.col-payment-button {
  padding: 0.25rem;
}
.col-payment-cc {
  margin-top: 10px;
  ion-button {
    ion-icon {
      font-size: 2.5rem!important;
    }
  }
}
.col-payment-wechat,.col-payment-alipay, .col-payment-unionpay {
  padding: 0.6rem;
  ion-button {
    img {
      height: 20px;
      margin-right: 5px;
    }
  }
}
.col-payment-alipay {
  ion-button {
    --background: #0e9dec!important;
    ion-icon {
      font-size: 2.5rem!important;
    }
  }
}
.col-payment-unionpay {
  ion-button {
    --background: #eb445a!important;
  }
}
.font-weight-bold {
  font-weight: 600;
}
@media(min-width: 768px) {
  .row-charge-item, .col-charge-summary, .order-notice {
    font-size: 1rem;
  }
}
#cardContainer {
  ion-icon {
    font-size: 1.125rem;
    margin-right: 6px;
    margin-left: 12px;
  }
  ion-input {
    font-size: 0.875rem;
    --padding-start: 10px!important;
  }
}
.img-credit-card {
  height: 24px;
  margin-right: 5px;
}