<ion-header>
  <div class="container">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/cart" text=""></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center" translate="Confirm Order"></ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="container container-sm">
    <ion-row class="ion-padding">
      <ion-col align="center">
        <h5 translate="order_page_title"></h5>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-start ion-padding-end ion-padding-bottom row-charge">
      <!-- BEGIN CHARGE ITEMS -->
      <ion-col size="7">
        <ion-row *ngFor="let item of chargeItems" class="row-charge-item">
          <ion-col size="7">
            <div><label localValue [data]="item" key="name"></label></div>
            <div><label>{{item.date|moment: "YYYY-MM-DD ddd"}}</label></div>
          </ion-col>
          <ion-col size="2">
            <span>&times; {{item.quantity}}</span>
          </ion-col>
          <ion-col size="3">
            {{(item.price * item.quantity)|currency:'USD':'symbol'}}
          </ion-col>
        </ion-row>
      </ion-col>
      <!--  END CHARGE ITEMS  -->
      <!-- BEGIN CHARGE SUMMARY -->
      <ion-col size="5" class="col-charge-summary" *ngIf="charge">
        <ion-row>
          <ion-col size="7" translate="Subtotal"></ion-col>
          <ion-col size="5">{{charge.price|currency:'USD':'symbol'}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7" translate="Delivery Fee"></ion-col>
          <ion-col size="5">{{charge.deliveryCost|currency:'USD':'symbol'}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7" translate="Tax"></ion-col>
          <ion-col size="5">{{charge.tax|currency:'USD':'symbol'}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7" translate="Tips"></ion-col>
          <ion-col size="5">{{charge.tips|currency:'USD':'symbol'}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7" translate="Delivery Fee Discount"></ion-col>
          <ion-col size="5">{{-charge.deliveryDiscount|currency:'USD':'symbol'}}</ion-col>
        </ion-row>
        <ion-row *ngIf="charge.overRangeCharge">
          <ion-col size="7" translate="Out-of-Range Charge"></ion-col>
          <ion-col size="5">{{charge.overRangeCharge|currency:'USD':'symbol'}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="7" translate="Total"></ion-col>
          <ion-col size="5">{{charge.total|currency:'USD':'symbol'}}</ion-col>
        </ion-row>
        <ion-row  *ngIf="charge.balance">
          <ion-col size="7" translate="Balance"></ion-col>
          <ion-col size="5">{{charge.balance|currency:'USD':'symbol'}}</ion-col>
        </ion-row>
        <ion-row class="border">
          <ion-col class="font-weight-bold" size="7" translate="Payable"></ion-col>
          <ion-col class="font-weight-bold" size="5">{{charge.payable|currency:'USD':'symbol'}}</ion-col>
        </ion-row>
      </ion-col>
      <!--  END CHARGE SUMMARY  -->
    </ion-row>
    <!-- BEGIN NOTCIE -->
    <ion-row class="row-order-notice ion-padding row-order-notice">
      <ul class="order-notice">
        <li translate="order_page_notice_1"></li>
        <li translate="order_page_notice_2"></li>
      </ul>
    </ion-row>
    <!--  END NOTCIE  -->
    <!-- BEGIN ORDER FORM -->
    <ng-container *ngIf="account">
      <ion-row class="row-order-info">
        <ion-col>
          <ion-item>
            <ion-label position="floating" translate="Deliver To"></ion-label>
            <ion-input [(ngModel)]="account.username" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" translate="Phone Number"></ion-label>
            <ion-input [(ngModel)]="account.phone" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" translate="Address"></ion-label>
            <ion-input readonly [(ngModel)]="address"></ion-input>
          </ion-item>
          <ion-item class="ion-padding" class="item-address" style="display:none;">
            <ion-label position="floating" translate="Address"></ion-label>
            <ion-input [(ngModel)]="address"></ion-input>
          </ion-item>
          <ion-item class="ion-padding" class="item-notes">
            <ion-label position="floating" translate="Notes"></ion-label>
            <ion-textarea [(ngModel)]="notes"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ng-container>
    <!--  END ORDER FORM  -->
    <!-- BEGIN PAYMENT FORM -->
    <ng-container *ngIf="!error; Else errorMsg">
      <ion-row class="ion-padding" *ngIf="account && charge && !loading">
        <ng-container *ngIf="paymentMethod !== PaymentMethod.PREPAY">
          <!-- BEGIN STRIPE FORM [DISABLED]-->
          <ng-container *ngIf="false">
            <ion-col size="12" align="center" class="ion-margin-top">
              <stripe-card
                #stripeCard
                (tokenChange)="stripePay($event)"
                [options]="prefersDark() ? {hidePostalCode: true, style: {base: {color: '#eee'}}} : {hidePostalCode: true}"
              ></stripe-card>
            </ion-col>
            <ion-col size="12" align="center">
              <ion-button 
                color="primary" 
                size="medium" 
                expand="full"
                translate="Stripe"
                [disabled]="!canPayStripe()"
                (click)="createStripeToken(stripeCard)"
              >
              </ion-button>
            </ion-col>
          </ng-container>
          <!--  END STRIPE FORM [DISABLED] -->
          <!-- BEGIN MONERIS PAY BUTTON -->
          <ion-col size="12" class="ion-text-center ion-margin-top">
            <!-- BEGIN MONERIS CREDIT CARD FORM -->
            <div id="cardContainer">
              <ion-row class="ion-no-padding">
                <ion-col size="12">
                  <ion-item class="ion-no-padding ion-no-margin">
                    <ion-input [placeholder]="'Credit Card Number'|translate" [(ngModel)]="cc"></ion-input>
                    <ion-icon size="12" name="cash-outline" slot="start"></ion-icon>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <ion-item class="ion-no-padding ion-no-margin">
                    <ion-input [placeholder]="'Expiry Date'|translate" [(ngModel)]="exp"></ion-input>
                    <ion-icon size="12" name="today-outline" slot="start"></ion-icon>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item class="ion-no-padding ion-no-margin">
                    <ion-input [placeholder]="'CVD'|translate" [(ngModel)]="cvd"></ion-input>
                    <ion-icon size="12" name="lock-closed-outline" slot="start"></ion-icon>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row class="ion-no-padding">
                <ion-col class="col-payment-button col-payment-cc">
                  <ion-button
                    color="primary"
                    size="medium"
                    expand="full"
                    translate="Pay by Credit Card"
                    [disabled]="loading || processing || !isCardValid()"
                    (click)="monerisPay()"
                  >
                  </ion-button>
                </ion-col>
              </ion-row>
            </div>
            <!-- END MONERIS CREDIT CARD FORM -->
            
          </ion-col>
          <!-- BEGIN WECHAT PAY BUTTON -->
          <ion-col class="col-payment-button col-payment-wechat" size="12" align="center" *ngIf="isWechatBrowser()">
            <ion-button 
              color="success" 
              size="medium" 
              expand="full" 
              translate="Wechat Pay"
              [disabled]="loading || processing"
              (click)="wechatPay()"
            ></ion-button>
          </ion-col>
          <!--  END WECHAT PAY BUTTON  -->
        </ng-container>
        <!-- BEGIN PAY BY DEPOSIT BUTTON -->
        <ion-col size="12" align="center" *ngIf="paymentMethod === PaymentMethod.PREPAY">
          <ion-button
            color="tertiary"
            size="medium"
            expand="full"
            translate="Pay by Deposit"
            [disabled]="processing"
            (click)="payByDeposit()"
          >
          </ion-button>
        </ion-col>
        <!--  END PAY BY DEPOSIT BUTTON  -->
        
      </ion-row>
    </ng-container>
    <!--  END PAYMENT FORM  -->
  </div>
  <app-footer></app-footer>
</ion-content>

<ng-template #errorMsg>
  <ion-row class="ion-padding" *ngIf="error">
    <ion-col align="center">
      <ion-label [translate]="error.message"></ion-label>
    </ion-col>
  </ion-row>
</ng-template>