/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body {
  ion-app {
      margin-left: auto;
      margin-right: auto;
      ion-header{
        background-color: var(--ion-color-light);
        ion-toolbar {
          --background: var(--ion-color-light);
        }
      }
      ion-row {
          ion-col {
              ion-card {
                  height: 100%;
              }
          }
      }
  }
  background-color: #eee;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
}
ion-content > .container {
  min-height: calc(100vh - 480px);
}
.container-lg {
  max-width: 1170px;
}
.container-md {
  max-width: 970px;
}
.container-sm {
  max-width: 750px;
}
.container-xs {
  max-width: none;
}
.w-100 {
  width: 100%;
}
.ion-text-primary {
  color: var(--ion-color-primary)
}
.ion-text-success {
  color: var(--ion-color-success)
}
.ion-text-tertiary {
  color: var(--ion-color-tertiary)
}
.ion-text-danger {
  color: var(--ion-color-danger)
}
.cursor-pointer {
  cursor: pointer;
}
@media(prefers-color-scheme: dark) {
  ion-searchbar {
    --background: var(--ion-color-light)!important;
  }
}
ion-searchbar.searchbar-location {
  .searchbar-input {
    font-size: 0.75rem !important;
  }
}

@media(min-width: 768px) {
  ion-content > .container {
    padding-top: 1.75rem;
  }
  ion-tab-bar {
    display: none;
  }
}