<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" translate="Home"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- BEGIN ADDRESS SEARCH BAR -->
  <location-search (onSelect)="handleLocationSelect($event)"></location-search>
  <!--  END ADDRESS SEARCH BAR  -->
  <ion-row class="ion-padding">
    <ion-col size="6" *ngFor="let merchant of merchants">
      <ion-card 
        class="card-merchant ion-no-margin"
        [routerLink]="['/tabs/browse/merchants', merchant._id]"
      >
        <ion-card-content class="card-content-merchant ion-margin-bottom">
          <div class="wrapper-merchant-img">
            <app-ion-image
            [src]="getPictureUrl(merchant)"
            [alt]="merchant.name"
            style="height: 180px; object-fit: cover;"
          ></app-ion-image>
          </div>
          <ion-label class="label-merchant-name">
            <h3 localValue [data]="merchant" key="name"></h3>
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
