ion-searchbar {
  padding: 1rem;
}
.sc-ion-searchbar-ios-h {
  -webkit-padding-start: 1rem;
  padding-inline-start: 1rem;
  -webkit-padding-end: 1rem;
  padding-inline-end: 1rem;
}
.card-product {
  cursor: pointer;
  border: 1px solid #ccc;
  ion-card-content {
    padding: 0.5rem;
    .wrapper-product-img {
      margin-top: -10px;
      margin-left: -10px;
      margin-right: -10px;
      margin-bottom: 5px;
    }
    .label-product-name {
      h3 {
        font-size: 0.75rem;
        font-weight: 600;
      }
      p {
        font-size: 0.75rem;
      }
    }
  }
}
@media(min-width: 768px) {
  ion-button {
    --padding-top: 1rem;
    --padding-bottom: 1rem;
  }
  .row-category {
    ion-col {
      margin-bottom: .5rem!important;
      padding-left: .2rem!important;
      padding-right: .2rem!important;
    }
  }
}
@media(min-width: 992px) {
  [size-lg="2.4"] {
    flex: 0 0 calc(calc(2.4 / var(--ion-grid-columns, 12)) * 100%)!important;
    width: calc(calc(2.4 / var(--ion-grid-columns, 12)) * 100%)!important;
    max-width: calc(calc(2.4 / var(--ion-grid-columns, 12)) * 100%)!important;
  }
}