<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" translate="Home"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar 
    placeholder="{{'Search'|translate}}"
    debounce="1000"
    (ionChange)="handleSearch($event)"
  ></ion-searchbar>
  <ion-row class="ion-padding">
    <ion-segment [(ngModel)]="viewMode">
      <ion-segment-button value="merchant">
        <ion-label translate="Merchant"></ion-label>
      </ion-segment-button>
      <ion-segment-button value="category">
        <ion-label translate="Category"></ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-row>
  <merchant-list *ngIf="viewMode === 'merchant'"></merchant-list>
  <category-list *ngIf="viewMode === 'category'"></category-list>
</ion-content>
